<%- include ("header.ejs",{title:"Mandando titulo de una forma dinamica"}) %>

<body>
<%- include ("content",{link:"/",description:"Descripcion"}) %>
<h1><%= title %></h1>
<% let users = ["Tony", "Ramon", "Mom"]
users.forEach(e=>{
%>
    <h1><%= e %></h1>
<%
})
%>

<h1> <%= char %></h1>

<div class="estaciones">
    <% char.forEach(function(character) { %>
        <div class="item">
            <p><strong><%= character.name %></strong>
                is <%= character.designation %> at hogwarts.</p>
        </div>
    <% }); %>
</div>

<script src="js/app.js"></script>
</body>